#header {
    background-color: lightgray;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

#settings-panel {
    background-color: rgb(241, 241, 241);
    margin: 5px;
    overflow: none;
    display: flex;
}

#navbar {
    background-color: rgb(241, 241, 241);
    margin: 5px;
    overflow: none;
    display: flex;
}

#content-container {
    display: flex;
}

#control-panel {
    flex: 1 1 75px;
    /* background-color: lightgray; */
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

#content-panel {
    flex: 6 6 450px;
    /* background-color: lightgray; */
    margin: 5px;
    padding: 5px;
}

#configuration-panel {
    /* background-color: lightgray; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 5px;
    padding: 5px;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
}

.settings {
    background-color: rgb(241, 241, 241);
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.navbar-btn {
    background-color: rgb(241, 241, 241);
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.navbar-btn:hover:enabled {
    background-color: lightgray;
}

.navbar-btn input {
    font-size: 14px;
}

.disabled-btn {
    opacity: 0.6;
    cursor: not-allowed;
}

table {
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
    width: 150px;
    height: 40px;
}

.cart-item {
    background-color: white;
    border: 1px solid black;
    margin: 5px;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}

.cart-item select {
    max-width: 90%;
}

.catalog-item {
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    min-width: 200px;
    width: 200px;
    background-color: rgb(241, 241, 241);
}

.catalog-item button {
    margin: 10px;
}

.course-0 {
    background-color: rgb(225, 255, 245);
}

.course-1 {
    background-color: rgb(229, 209, 201);
}

.course-2 {
    background-color: rgb(245, 245, 220);
}

.course-3 {
    background-color: rgb(220, 251, 220);
}

.course-4 {
    background-color: rgba(135, 206, 250, 0.637);
}

.course-5 {
    background-color: lightpink;
}

.course-6 {
    background-color: rgb(248, 204, 204);
}

.course-7 {
    background-color: whitesmoke;
}

.course-8 {
    background-color: lightgoldenrodyellow;
}

.course-9 {
    background-color: rgba(0, 255, 238, 0.575);
}

.course-none {

}

@media only screen and (max-width: 600px) {
    #content-container {
        display: flex;
        flex-direction: column
    }
    #control-panel {
        flex: 1 1 75px;
        margin: 5px;
        padding: 5px;
        overflow-x: auto;
        overflow-y: hidden;
        min-height: 200px;
        display: flex;
    }
    .cart-item {
        margin: 5px;
        padding: 8px;
        font-size: 12px;
        border-radius: 5px;
        max-width: 200px;
        float: left;
        /* display: flex;
        flex-direction: column;
        flex: 1 1 200px; */
    }
    
    .cart-item button {
        font-size: 10px;
    }

    .cart-item select {
        max-width: 90%;
        font-size: 12px;
    }
    
    .catalog-item {
        float: left;
        margin: 3px;
        padding: 3px;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        max-height: 180px;
    }
    
    .catalog-item button {
        margin: 7px;
        font-size: 12px;
    }
    .settings {
        background-color: rgb(241, 241, 241);
        border: 1px solid gray;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
    }
    .navbar-btn {
        background-color: rgb(241, 241, 241);
        border: 1px solid gray;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
    }
    #content-panel {
        font-size: 12px;
        padding: 0px;
        background-color: white;
    }
    #content-panel table {
        margin: 0px;
        max-width: 100% !important;
    }
  }
